---
import Layout from '@layouts/Layout.astro';
import { fetchGitHubUserInformation } from '@utils/fetchData';
import config from '@utils/config.js'

---

<Layout title="Home">
	<main>
		<div class="
		sm:justify-start sm:overflow-y-hidden
		flex flex-col items-center h-screen relative overflow-hidden
		">
			<img class="
			sm:transform sm:translate-x-[-50%] sm:translate-y-[-50%] sm:scale-60 sm:top-25 sm:left-50
			"
			src="" alt="">
			<a class="
			sm:text-2xl sm:mt-[25vh]
			bg-gradient-to-b from-text-color to-color-tone-700 text-transparent bg-clip-text
			"
			href="">
				<strong></strong>
			</a>
			<span><strong>No name yet</strong></span>
			<p class="sm:text-base sm:text-center sm:p-10"></p>
			<p>No bio yet</p>
		</div>
	</main>
</Layout>
