---
import Layout from '@layouts/Layout.astro'
import Menu from '@components/Menu.astro'
import config from '@utils/config'

const user = await fetch(`https://api.github.com/users/${config.gh.account}`).then(data => data.json());
---
<Layout title={user.login}>
	<main class="bg-revolver-950">
		<div class="min-h-screen mx-auto max-w-3xl px-5 m-5 flex flex-col gap-10 bg-red-300">
			<Menu name={user.name} />
			<h3 class="text-2xl"> {user.login} </h3>
		</div>
	</main>
</Layout>
