---
import type Repositories from '@interfaces/global.interface'
interface Props {
	repo: Repositories;
}

const { repo } = Astro.props;
---

<a target="_blank" href={repo.html_url}>
	<article class="bg-bigStone900 p-3 w-80">
		<h2 class="text-2xl"> {repo.name} </h2>
	</article>
</a>