---

interface Props {
	name: string;
}
const { name } = Astro.props;



---

<header class="min-w-screen backdrop-blur-sm sticky top-0 min-h-[5rem] pt-5 bg-white">
    <h1 class="text-xl">{name}</h1>

</header>