---

interface Props {
	username: string;
}
const { username } = Astro.props;



---

<header class="min-w-screen sticky top-0 min-h-[5rem] pt-5 backdrop-blur-lg bg-opacity-80">
    <h1 class="text-xl">{username}</h1>
</header>