---

import config from '@utils/config'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{config.web.name} | {title}</title>
		<!-- Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
	</head>
	<body class="bg-bigStone950 text-bigStone100 min-h-screen mx-auto max-w-3xl px-5 m-5 p-5 mb-0 pb-0">
		<slot />
	</body>
</html>
